/*============================================================================
   #Webcms
==============================================================================*/

.bar-top {
  width:100%;
  padding:0px 15px;
  margin-bottom:20px;
}

.bar-top img {
  width:100%;
  max-height: 450px;
}

.header-navigate {
  background: #f1f1f1;
  margin-bottom: 15px;
}

.header-navigate .breadcrumb {
  margin: 0px;
  background: none;
  padding: 8px 0px;
}

.header-navigate .breadcrumb>li+li:before {
  padding: 0px 2px;
  font-family: 'FontAwesome';
  content: "\f105";
  color: #4d4d4d;
}

.title-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
    margin-bottom: 15px;
    padding: 15px;
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}


.title-category2 {

  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
    margin-bottom: 15px;
   
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%);
}

.title-category p {
  margin: 0;
}

.select-fill {
  display: flex;
  align-items: center;
}

.mr5 {
  margin-right: 5px;
}

.select-fill select {
  outline: none;
  padding: 2px 10px;
  border: 1px solid #e7e7e7;

  font-size: 14px;
}

.img-product-index.in-category img {
  width: 100%;
}

.product-incate {
  border: 1px solid transparent;
}

.product-incate:hover {
  border-color: #e7e7e7;
}

.title-fill {
  font-size: 18px;
  color: #333333;
}

.title-fill i {
  font-size: 10px;
}

.fill-vn.active .fa-plus:before {
  content: "\f068";
}

.fill-vn{
  width: 100%;
  display: flex;
  padding: 15px 15px 0 15px;
  justify-content: space-between;
}

.filter-box {
  height: 0px;
  overflow: hidden;
}

.filter-box.active {
  padding: 15px;
  border-top: 1px solid #e7e7e7;
  height: auto;
}

.filter-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-box ul li {
  padding: 5px 0;
  cursor: pointer;
}

.inputcheck label {
  padding: 0;
  margin-bottom: 2px;
}

.filter-box.inputcheck ul li {
  padding: 0;
  /*display: inline-block;*/
}

.color-fill ul li {
  display: inline;
}

.color-fill label {
  cursor: pointer;
  z-index: 999999;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: 1px solid #ccc;
}

.color-fill input{
  opacity: 0;
}
.value-color {
  z-index: 999999999;
}

.value-color.active .tick{
  display: block;
  color:#fff;
}


.tick {
  display: none;
  font-size: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)
}

