<!DOCTYPE html>
<html lang="en">
<head>
<title>Flashy Error Page a Flat Responsive Widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Smart Error Page Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- font files -->

<!-- /font files -->
<!-- css files -->
<link rel="stylesheet" href="http://localhost:3020/notfound.css">
<body>
<div class="container demo-2">
	<div class="content">
        <div id="large-header" class="large-header" style="background-image: url(http://localhost:3020/banner.jpg);">
		
			<p class="w3-agileits1">Oops!</p>
            <canvas id="demo-canvas"></canvas>
			<img src="http://localhost:3020/owl.gif" alt="flashy" class="w3l">
            <h2 class="main-title">404</span></h2>
			<p class="w3-agileits2">Trang bạn truy cập không tồn tại</p>
	   </div>
	</div>
</div>	
<!-- js files -->
<script src="http://localhost:3020/notfound.js"></script>
<script src="http://localhost:3020/errpage.js"></script>

<!-- /js files -->
</body>
</html>