footer.footer-pc
  .back-top-footer
    .container
      .row.top-foot
        .col-md-3.col-sm-12.col-xs-12
          .commit
            .icon-commit
              svg.svg-next-icon.svg-next-icon-size-30(style='fill: #333333')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-service-transport')
                svg#icon-service-transport
                  svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' viewbox='0 0 612 612' style='enable-background:new 0 0 612 612;' xml:space='preserve')
                    g
                      path(d='M612,338.19v55.625c0,13.877-11.249,25.125-25.126,25.125h-26.885c-4.857-33.332-33.585-58.961-68.259-58.961    c-34.59,0-63.317,25.629-68.175,58.961H195.162c-4.857-33.332-33.585-58.961-68.175-58.961s-63.318,25.629-68.175,58.961H25.143    c-13.876,0-25.125-11.248-25.125-25.125V338.19H612z M173.067,203.958h-14.313l-5.259,27.155h13.945    c9.292,0,16.996-6.363,16.996-17.004C184.436,207.631,180.159,203.958,173.067,203.958z M543.892,428.907    c0,28.729-23.367,52.094-52.095,52.094c-28.811,0-52.178-23.367-52.178-52.094c0-28.811,23.367-52.178,52.178-52.178    C520.524,376.729,543.892,400.097,543.892,428.907z M517.845,428.907c0-14.404-11.726-26.047-26.047-26.047    c-14.405,0-26.048,11.643-26.048,26.047c0,14.322,11.643,26.049,26.048,26.049C506.119,454.956,517.845,443.229,517.845,428.907z     M179.063,428.907c0,28.729-23.283,52.094-52.094,52.094s-52.094-23.367-52.094-52.094c0-28.811,23.284-52.178,52.094-52.178    S179.063,400.097,179.063,428.907z M153.017,428.907c0-14.404-11.642-26.047-26.046-26.047c-14.406,0-26.047,11.643-26.047,26.047    c0,14.322,11.642,26.049,26.047,26.049C141.375,454.956,153.017,443.229,153.017,428.907z M611.982,324.302H0V156.125    c0-13.903,11.307-25.125,25.125-25.125h379.736c13.903,0,25.126,11.223,25.126,25.125v18.678h49.833    c8.794,0,17.253,3.518,23.534,9.715l98.745,97.656c6.281,6.282,9.883,14.824,9.883,23.786V324.302z M89.184,228.545l4.646-24.586    h34.245l2.568-13.577H80.866l-16.881,86.837H79.64l6.854-35.104h28.863l2.568-13.569H89.184z M180.772,240.649v-0.246    c13.086-4.278,19.81-17.118,19.81-28.986c0-8.923-4.4-15.655-11.745-18.837c-3.541-1.586-7.828-2.2-12.473-2.2h-30.696    l-16.874,86.836h15.769l6.241-32.413h15.655l11.009,32.413h16.874l-11.614-32.168    C181.623,241.876,180.772,240.649,180.772,240.649z M277.113,190.381h-51.854l-16.996,86.837h53.932l2.568-13.577h-38.155    l4.523-23.359h29.231l2.691-13.577h-29.231l4.4-22.746h36.201L277.113,190.381z M347.174,190.381h-51.855l-16.996,86.837h53.933    l2.567-13.577h-38.155l4.523-23.359h29.231l2.691-13.577h-29.232l4.401-22.746h36.2L347.174,190.381z M561.731,278.655    l-77.305-73.787c-0.754-0.669-1.759-1.088-2.764-1.088h-18.174c-2.178,0-3.937,1.759-3.937,3.937v73.787    c0,2.178,1.759,3.936,3.937,3.936h95.562C562.568,285.439,564.327,281.084,561.731,278.655z')
            .text-commit
              span GIAO H&Agrave;NG MI&#x1EC4;N PH&Iacute;
        .col-md-3.col-sm-12.col-xs-12
          .commit
            .icon-commit
              svg.svg-next-icon.svg-next-icon-size-30(style='fill: #333333')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-service-change')
                svg#icon-service-change
                  svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewbox='0 0 492.137 492.137' style='enable-background:new 0 0 492.137 492.137;' xml:space='preserve')
                    g
                      path(d='M153.147,77.396c38.885-38.88,98.156-45.054,143.668-18.795l-11.98,11.979c-3.447,3.439-4.475,8.597-2.615,13.094   c1.858,4.465,6.225,7.409,11.1,7.399l53.076-0.022c6.627,0,12.012-5.389,12.012-12.003V25.991c0-4.891-2.918-9.254-7.393-11.105   c-4.52-1.852-9.667-0.826-13.099,2.607l-17.144,17.15C261.856-4.1,181.702,2.403,129.927,54.176   c-6.418,6.414-6.418,16.806,0,23.221C136.34,83.809,146.729,83.809,153.147,77.396z')
                      path(d='M346.797,414.734c-38.886,38.878-98.158,45.054-143.668,18.792l11.98-11.978c3.446-3.44,4.475-8.594,2.616-13.094   c-1.864-4.465-6.227-7.406-11.102-7.399l-53.076,0.024c-6.626,0-12.011,5.388-12.011,12.002v53.057   c0,4.891,2.917,9.253,7.393,11.105c4.518,1.852,9.667,0.826,13.099-2.607l17.143-17.15c25.223,16.582,54.332,24.887,83.452,24.887   c38.89,0,77.775-14.809,107.395-44.419c6.417-6.415,6.417-16.807,0-23.22C363.603,408.318,353.215,408.318,346.797,414.734z')
                      path(d='M188.888,331.977c3.273-3.293,5.083-7.664,5.083-12.291V135.952c0-9.583-7.808-17.384-17.396-17.384H17.4   c-9.598,0-17.4,7.801-17.4,17.384v220.209c0,9.598,7.803,17.398,17.4,17.398h122.708c4.647,0,9.014-1.813,12.297-5.108   L188.888,331.977z M159.189,153.352v148.951h-19.081c-9.588,0-17.4,7.801-17.4,17.383v19.074H34.78V153.352H159.189z')
                      path(d='M474.736,118.568H315.541c-9.588,0-17.381,7.801-17.381,17.384v220.209c0,9.598,7.793,17.398,17.381,17.398h122.713   c4.648,0,9.01-1.813,12.298-5.108l36.496-36.475c3.273-3.293,5.089-7.664,5.089-12.291V135.952   C492.137,126.369,484.324,118.568,474.736,118.568z M457.336,153.352v148.951h-19.082c-9.593,0-17.386,7.801-17.386,17.383v19.074   h-87.927V153.352H457.336z')
            .text-commit
              span &dstrok;&#x1ED5;i tr&#x1EA3; h&agrave;ng
        .col-md-3.col-sm-12.col-xs-12
          .commit
            .icon-commit
              svg.svg-next-icon.svg-next-icon-size-30(style='fill: #333333')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-service-recieve-money')
                svg#icon-service-recieve-money
                  svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewbox='0 0 354.796 354.796' style='enable-background:new 0 0 354.796 354.796;' xml:space='preserve')
                    g#Layer_5_58_
                      g
                        g
                          path(d='M265.442,109.092c-10.602-4.25-13.665-6.82-13.665-11.461c0-3.714,2.813-8.053,10.744-8.053      c7.015,0,12.395,2.766,12.443,2.79c0.566,0.302,1.201,0.463,1.83,0.463c1.535,0,2.893-0.929,3.456-2.367l1.927-4.926      c0.671-1.795-0.347-3.359-1.645-3.92c-4.319-1.88-12.76-3.335-12.846-3.35c-0.136-0.024-0.609-0.125-0.609-0.678l-0.027-7.146      c0-2.152-1.797-3.904-4.003-3.904h-3.457c-2.204,0-4,1.751-4,3.905l0.009,7.513c0,0.576-0.624,0.826-0.852,0.879      c-10.655,2.538-17.314,10.343-17.314,20.188c0,12.273,10.145,17.819,21.099,21.982c8.757,3.438,12.329,6.924,12.329,12.037      c0,5.564-5.059,9.45-12.307,9.45c-6.189,0-14.565-3.923-14.648-3.963c-0.536-0.254-1.104-0.382-1.688-0.382      c-1.594,0-2.982,0.964-3.537,2.457l-1.84,4.982c-0.654,1.86,0.353,3.37,1.642,4.042c5.144,2.679,15.098,4.249,15.541,4.318      c0.119,0.017,0.725,0.23,0.725,0.784v7.48c0,2.152,1.797,3.904,4.004,3.904h3.572c2.208,0,4.005-1.751,4.005-3.904v-7.872      c0-0.736,0.543-0.801,0.655-0.828c11.351-2.55,18.343-10.855,18.343-21.283C285.325,121.518,279.377,114.597,265.442,109.092z')
                          path(d='M260.979,22.509c-51.816,0-93.818,42.005-93.818,93.818c0,51.814,42.002,93.82,93.818,93.82      c51.814,0,93.817-42.006,93.817-93.82C354.796,64.514,312.793,22.509,260.979,22.509z M260.979,188.404      c-39.808,0-72.076-32.271-72.076-72.076s32.268-72.075,72.076-72.075c39.806,0,72.073,32.27,72.073,72.075      S300.785,188.404,260.979,188.404z')
                        g
                          path(d='M335.733,255.61c-19.95,11.011-47.389,21.192-74.753,25.484c-24.346,3.818-70.148-5.39-70.148-16.265      c0-4.121,40.17,10.154,64.469,3.671c18.633-4.971,15.988-22.401,5.853-24.7c-10.076-2.287-69.108-23.913-94.323-24.659      c-11.878-0.351-41.203,4.131-55.393,6.442c-4.861,0.791-7.909,0.704-8.213,5.356c-1.412,21.62-4.195,65.832-5.712,88.926      c-0.032,0.488,0.646,7.05,6.061,2.432c5.927-5.054,14.24-10.656,21.929-8.912c12.063,2.737,116.424,21.856,130.819,18.51      c20.593-4.787,78.888-39.334,90.065-50.072C363.711,265.176,350.244,247.601,335.733,255.61z')
                          path(d='M74.426,224.74l-54.672-2.694c-4.221-0.208-8.532,2.973-9.581,7.066l-9.941,90.255c-1.048,4.094,1.55,7.578,5.773,7.741      l60.59-0.006c4.224,0.163,7.942-3.151,8.266-7.365l6.654-86.958C81.837,228.566,78.647,224.948,74.426,224.74z M42.24,315.145      c-8.349,0-15.116-6.768-15.116-15.116c0-8.349,6.768-15.116,15.116-15.116s15.116,6.768,15.116,15.116      C57.356,308.378,50.589,315.145,42.24,315.145z')
            .text-commit
              span giao h&agrave;ng nh&#x1EAD;n ti&#x1EC1;n
        .col-md-3.col-sm-12.col-xs-12
          .commit
            .icon-commit
              svg.svg-next-icon.svg-next-icon-size-30(style='fill: #333333')
                use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href='#icon-phone-service')
                svg#icon-phone-service
                  svg#Capa_1(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewbox='0 0 473.806 473.806' style='enable-background:new 0 0 473.806 473.806;' xml:space='preserve')
                    g
                      path(d='M374.456,293.506c-9.7-10.1-21.4-15.5-33.8-15.5c-12.3,0-24.1,5.3-34.2,15.4l-31.6,31.5c-2.6-1.4-5.2-2.7-7.7-4    c-3.6-1.8-7-3.5-9.9-5.3c-29.6-18.8-56.5-43.3-82.3-75c-12.5-15.8-20.9-29.1-27-42.6c8.2-7.5,15.8-15.3,23.2-22.8    c2.8-2.8,5.6-5.7,8.4-8.5c21-21,21-48.2,0-69.2l-27.3-27.3c-3.1-3.1-6.3-6.3-9.3-9.5c-6-6.2-12.3-12.6-18.8-18.6    c-9.7-9.6-21.3-14.7-33.5-14.7s-24,5.1-34,14.7c-0.1,0.1-0.1,0.1-0.2,0.2l-34,34.3c-12.8,12.8-20.1,28.4-21.7,46.5    c-2.4,29.2,6.2,56.4,12.8,74.2c16.2,43.7,40.4,84.2,76.5,127.6c43.8,52.3,96.5,93.6,156.7,122.7c23,10.9,53.7,23.8,88,26    c2.1,0.1,4.3,0.2,6.3,0.2c23.1,0,42.5-8.3,57.7-24.8c0.1-0.2,0.3-0.3,0.4-0.5c5.2-6.3,11.2-12,17.5-18.1c4.3-4.1,8.7-8.4,13-12.9    c9.9-10.3,15.1-22.3,15.1-34.6c0-12.4-5.3-24.3-15.4-34.3L374.456,293.506z M410.256,398.806    C410.156,398.806,410.156,398.906,410.256,398.806c-3.9,4.2-7.9,8-12.2,12.2c-6.5,6.2-13.1,12.7-19.3,20    c-10.1,10.8-22,15.9-37.6,15.9c-1.5,0-3.1,0-4.6-0.1c-29.7-1.9-57.3-13.5-78-23.4c-56.6-27.4-106.3-66.3-147.6-115.6    c-34.1-41.1-56.9-79.1-72-119.9c-9.3-24.9-12.7-44.3-11.2-62.6c1-11.7,5.5-21.4,13.8-29.7l34.1-34.1c4.9-4.6,10.1-7.1,15.2-7.1    c6.3,0,11.4,3.8,14.6,7c0.1,0.1,0.2,0.2,0.3,0.3c6.1,5.7,11.9,11.6,18,17.9c3.1,3.2,6.3,6.4,9.5,9.7l27.3,27.3    c10.6,10.6,10.6,20.4,0,31c-2.9,2.9-5.7,5.8-8.6,8.6c-8.4,8.6-16.4,16.6-25.1,24.4c-0.2,0.2-0.4,0.3-0.5,0.5    c-8.6,8.6-7,17-5.2,22.7c0.1,0.3,0.2,0.6,0.3,0.9c7.1,17.2,17.1,33.4,32.3,52.7l0.1,0.1c27.6,34,56.7,60.5,88.8,80.8    c4.1,2.6,8.3,4.7,12.3,6.7c3.6,1.8,7,3.5,9.9,5.3c0.4,0.2,0.8,0.5,1.2,0.7c3.4,1.7,6.6,2.5,9.9,2.5c8.3,0,13.5-5.2,15.2-6.9    l34.2-34.2c3.4-3.4,8.8-7.5,15.1-7.5c6.2,0,11.3,3.9,14.4,7.3c0.1,0.1,0.1,0.1,0.2,0.2l55.1,55.1    C420.456,377.706,420.456,388.206,410.256,398.806z')
                      path(d='M256.056,112.706c26.2,4.4,50,16.8,69,35.8s31.3,42.8,35.8,69c1.1,6.6,6.8,11.2,13.3,11.2c0.8,0,1.5-0.1,2.3-0.2    c7.4-1.2,12.3-8.2,11.1-15.6c-5.4-31.7-20.4-60.6-43.3-83.5s-51.8-37.9-83.5-43.3c-7.4-1.2-14.3,3.7-15.6,11    S248.656,111.506,256.056,112.706z')
                      path(d='M473.256,209.006c-8.9-52.2-33.5-99.7-71.3-137.5s-85.3-62.4-137.5-71.3c-7.3-1.3-14.2,3.7-15.5,11    c-1.2,7.4,3.7,14.3,11.1,15.6c46.6,7.9,89.1,30,122.9,63.7c33.8,33.8,55.8,76.3,63.7,122.9c1.1,6.6,6.8,11.2,13.3,11.2    c0.8,0,1.5-0.1,2.3-0.2C469.556,223.306,474.556,216.306,473.256,209.006z')
            .text-commit
              span &Dstrok;&#x1EB7;t h&agrave;ng online
  .back-gr-footer
    .container
      .row
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .box-footer-colum
            h3 Li&ecirc;n h&#x1EC7;
            ul.footer-list-menu
              li
                i.fa.fa-map-marker
                span.hide-address 409 Nguy&#x1EC5;n Tr&atilde;i, P.7 , Q.5, HCM
            ul.footer-list-menu.list-bot
              li T&#x1ED5;ng &dstrok;&agrave;i: 0987654321
              |                      &gt;
              li Email: 
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .box-footer-colum
            h3 CH&Iacute;NH S&Aacute;CH H&#x1ED6; TR&#x1EE2;
            ul.footer-list-menu.menu-foot
              li
                a(href='/pages/lienhe')
                  span.hide-address  lienhe
              li
                a(href='/pages/goc-cong-nghe')
                  span.hide-address  G&oacute;c c&ocirc;ng ngh&#x1EC7;
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .box-footer-colum
            h3 Li&ecirc;n K&#x1EBF;t
            ul.footer-list-menu
              li
                span.hide-address H&atilde;y k&#x1EBF;t n&#x1ED1;i v&#x1EDB;i ch&uacute;ng t&ocirc;i
            ul.list-unstyled
              li
                a(href='')
                  i.fab.fa-facebook-f
              li
                a(href='')
                  i.fab.fa-twitter
              li
                a(href='')
                  i.fab.fa-google-plus-g
              li
                a(href='')
                  i.fab.fa-instagram
            .dkbocongthuong
              img(src='//theme.hstatic.net/1000353777/1000698522/14/dkbocongthuong.png?v=295')
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          .box-footer-colum
            h3 K&#x1EBF;t n&#x1ED1;i v&#x1EDB;i ch&uacute;ng t&ocirc;i
      div
    .footer-copyright
      p
        | Thi&#x1EBF;t k&#x1EBF; website b&#x1EDF;i 
        span
          img(width='87px' src='https://statics.pancake.vn/web-media/08/57/24/b0/01f0af106e9cbb6ad173d034a942ed39e7c5acb460beb981c0868b13.svg' alt='')
